* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}
/* UTILITIES */
.no-desktop {
    display: none;
}

/* LAYOUT */
.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: lightblue;
}

/* MAIN WINDOW */
.main-window {
    display: flex;
    flex-grow: 1;
    background: red;
}

/* SIDEBAR */
.aside-bar {
    display: flex;
    flex-direction: column;
    flex-basis: 215px;
}

.logo-aside {
    width: 70%;
    height: 35px;
    margin: 30px 10px;
}

/* SIDEBAR TOP */
.sidebar-top {
    flex-grow: 1;
    background: #000000;
}

/* SIDEBAR TOP LIST */
.sidebar-top-list  {
    display: flex;
}

/* SIDEBAR TOP LIST IMG */
.sidebar-top-ul-img {
    display: flex;
    flex-direction: column;
    align-self: center;
    list-style: none;
    margin-bottom: 30px;
}

.sidebar-top-ul-img li {
    display: flex;
}

.sidebar-top-ul-img li:focus-within {
    border-left: 2px solid #acfe2e;
}

.sidebar-top-ul-img li a {
    display: flex;
    align-items: center;
    font-size: 12px;
    text-decoration: none;
    color: #595959;
}

.sidebar-top-ul-img img {
    max-width: 40%;
    height: 30px;
    margin-left: 25px;
    margin-bottom: 10px;
}

.sidebar-top-ul-img span {
    padding-left: 8px;
}

/* SIDEBAR SECOND LIST */
.playlist-h3 {
    margin-left: 25px;
    margin-bottom: 10px;
}

.sidebartop-second-list 
.second-list-items a {
    text-decoration: none;
    color: #595959;
}

.sidebartop-second-list 
.second-list-items a i {
    font-size: 20px;
    margin-left: 25px;
    margin-bottom: 20px;
    padding: 10px;
    background: #999999;
    color: black;
}

.sidebartop-second-list 
.second-list-items span {
    margin-left: 10px;
}

.playlist-name a {
    text-decoration: none;
    color: #595959;
}

.playlist-name {
    font-size: 14px;
    list-style: none;
    margin-bottom: 18px;
    margin-left: 25px;
}

/* SIDEBAR BOTTOM */
.sidebar-bottom {
    background: black;
}

.sidebar-bottom-list {
    list-style: none;
    margin-left: 30px;
}

.sidebar-bottom-list a {
    text-decoration: none;
    color: #595959;
}

.sidebar-bottom-list a i {
    font-size: 12px;
    border-radius: 100%;
    margin-bottom: 10px;
    background: white;
    color: black;
}

.sidebar-bottom-list a span {
    margin-left: 5px;
}

.sidebar-bottom-list hr {
    width: 80%;
    margin-bottom: 10px;
    color: #5c5c5c;
}

.sidebar-bottom-list a img {
    max-width: 15%;
    margin-bottom: 10px;
    border-radius: 100%;
    background: #7f7f7f;
}

.sidebar-bottom-list a h5 {
    position: absolute;
    font-size: 15px;
    margin-left: 35px;
    margin-top: -38px;
    color: #fff;
}

/* CONTENT */
.content {
    position: relative;
    flex-grow: 1;
    background: #444;
}

/* CONTENT TOP BAR */
.content-top-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px; /* debug */
    background: rgba(11, 14, 15, 0.8);
    z-index: 1;
}

.content-top-bar a {
    font-size: 12px;
    text-decoration: none; 
    margin-right: 50px;
    padding: 13px 30px;
    border: 1px solid #fff;
    border-radius: 20px;
    color: #e6e7e8;
}

.content-top-bar a:active {
    background: #fff;
    color: #000;
}

/* SCROLLABLE */
.content .scrollable {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 80px 15px 30px;
    overflow-y: auto;
    background: #141921;
}

/* CONTENT TOP BAR */

/* MENU MAIN BAR */
.menu-main-bar {
    display: flex;
    justify-content: center;
}

.menu-main-bar .menu-main-list {
    display: flex;
    text-transform: uppercase;
    line-height: 50px;
    list-style: none;
    transform: linear;
}

.menu-main-bar .menu-main-list li:focus-within {
    text-decoration: underline;
    text-decoration-color: #acfe2e;
}

.menu-main-list a {
    font-size: 14px;
    text-decoration: none;
    padding: 10px;
    color: #5d6065;
}

/* CONTENT CATEGORY */
.content-category {
    margin-bottom: 50px;
}

.content-category h2 {
    margin-bottom: 10px;
}

.content-category p {
    font-size: 12px;
    margin-bottom: 10px;
    color: #43474f;
}

.content-category .album-list {
    display: flex;
    text-align: center;
    flex-wrap:  wrap;
}

.album-list .album {
    position: relative;
    flex-basis: calc(100% / 6 - 15px);
    margin-right: 15px;
    list-style: none;
}

.album-list .album a {
    text-decoration: none;
}

.album-list .album a img {
    max-width: 100%;
    margin-bottom: 10px;
}

.album-list .album a img:hover {
    opacity: 0.5;
    background: #fff;
}

.album-hover-btn {
    position: relative;
}

.album-hover-btn:hover .icon-play-hover {
    display: block;
}

.icon-play-hover {
    position: absolute;
	display: none;
	right: 38%;
    top: 30%;
}

.icon-play-hover a {
    font-size: 40px;
	color: #fff;
}

.album-list .album h4 {
    margin-bottom: 10px;
    color: #fff;
}

.albums-bottom-span {
    font-size: 12px;
    color: #707279;
}

.album-list .album a .last-row {
    border-radius: 100%;
}

/* FOOTER */
.player {
    height: 80px;
    display: flex;
    justify-content: space-between;
    background: #333; 
}

.player-album,
.player-audio {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: 215px;
}

/* PLAYER ALBUM */
.player-album img {
    max-width: 20%;
    height: 50px;
}

.player-album .album-list {
    list-style: none;
}

.first-player-span {
    font-size: 14px;
    font-weight: bold;
}

.first-player-span:hover {
    cursor: pointer;
    text-decoration: underline;
}

.second-player-span {
    font-size: 10px;
    color: #585858;

}

.player-album i {
    color: #585858;
}

.player-album i:hover {
    cursor: pointer;
    color: white;
}

/* PLAYER CONTROLLER */
.player-controller {
    display: flex;
    align-items: center;
    align-content: center;
    flex-flow: column;
    flex-basis: 40%;
}

/* CONTROLLER ICONS */
.player-controller .controller-icons i {
    font-size: 15px;
    padding: 10px;
}

.player-controller .controller-icons i:hover {
    cursor: pointer;
    opacity: .5;
}

#play-circle {
    font-size: 28px;
    color: #fff;
}

/* MINUTES BAR */
.minutes-bar {
    width: 100%;
    display: flex;
    align-items: center;
    
}

.minutes-bar  span {
    font-size: 12px;
}

.first-hr {
    width: 20%;
    height: 4px;
    margin-left: 10%;
    border: 1px solid #bababa;
    border-radius: 5px;
    background: #bababa;
}

.second-hr {
    width: 60%;
    height: 4px;
    border: 1px solid #535353;
    border-radius: 5px;
    background: #535353;
}

.minute-last-span {
    margin-left: 60px;
}

.minutes-bar hr:hover {
    cursor: pointer;
}

/* PLAYER AUDIO */
.player-audio {
    display: flex;   
    justify-content: flex-start;
    align-content: center;
}

.player-audio i {
    font-size: 10px;
    padding: 5px;
    color: #bbbbbb;
}

.audio-first-hr {
    width: 10%;
    height: 4px;
    border: 1px solid #bababa;
    border-radius: 5px;
    background: #bababa;
}

.audio-second-hr {
    width: 50%;
    height: 4px;
    border: 1px solid #535353;
    border-radius: 5px;
    background: #535353;
}

.player-audio hr:hover {
    cursor: pointer;
}

/* MEDIA QUERY FINO A 1024PX */
@media screen and (max-width: 1024px) {
    /* MAIN MENU BAR */
    .menu-main-bar {
        margin-bottom: 20px;
    }

    .menu-main-bar .menu-main-list li a {
        font-weight: 500;
    }

    /* CONTENT CATEGORY ALBUM LIST */
    .album-list .album {
        position: relative;
        flex-basis: calc(100% / 4 - 15px);
        margin-right: 15px;
        list-style: none;
    }

    .content-category h2 {
        font-size: 25px;
        margin-bottom: 20px;
    }

    .content-category p {
        margin-bottom: 25px;
    }

    .only-1024 {
        display: flex;
    }

    .only-1024 ul li div a img {
        width: 500px;
    }

    .no-1024px {
        display: none;
    }
}

/* MEDIA QUERY FINO A 600X */
@media screen and (max-width: 600px) {
    /* ASIDE BAR */
    .aside-bar {
        flex-basis: 60px;
    }

    /* SIDEBAR TOP */
    .sidebar-top-600px {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .sidebar-top-600px-img  {
        list-style: none;
    }

    .sidebar-top-600px-img a i {
        font-size: 35px;
        margin-bottom: 20px;
        color: #fff;
    }

    .sidebar-top-600px-img a img {
        margin-bottom: 5px;
    }

    /* SIDEBAR BOTTOM */
    .sidebar-bottom-600px {
        width: 100%;
        display: flex;
        justify-content: center;
        background: #000;
    }

    .sidebar-bottom-600px ul {
        list-style: none;
    }

    .sidebar-bottom-600px ul li a i {
        border-radius: 100%;
        border: 0.5px solid #fff;
        background: #fff;
        margin-left: 5px;
        margin-bottom: 20px;
        color: black;

    }

    .sidebar-bottom-600px ul li a img {
        height: 30px;
        border-radius: 50%;
        background: #7f7f7f;
    }

    /* MAIN MENU BAR */
    .menu-main-bar {
        display: flex;
        flex-basis: calc(100% / 4);
    }

    .menu-main-bar .menu-main-list li:focus-within {
        text-decoration: none;
    }

    .menu-main-bar ul li a {
        font-size: 14px;
    }

    .menu-main-bar-600px {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    } 

    .menu-main-bar-600px ul li {
        display: inline;
    }

    .menu-main-bar-600px ul li a {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
    }

    /* CONTENT CATEGORY ALBUM LIST */
    .no-600px {
        display: none;
    }

    .album-list .album {
        position: relative;
        flex-basis: calc(100% / 2 - 15px);
        margin-right: 15px;
        list-style: none;
    }

    /* FOOTER PLAYER */
    /* MINUTES BAR */
    .minutes-bar span {
        font-size: 10px;
        margin-left: 15px;
    }

    .minute-last-span {
        margin-right: 15px;
    }

    /* AUDIO */
    .player-audio i {
        font-size: 14px;
    }

    .audio-second-hr {
        width: 40%;
    }
}
