/* GENERAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
font-family: sans-serif;
}

/* UTILITIES */
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

.display-flex {
    display: flex;
}

.display-none {
    display: none;
}

.text-center {
    text-align: center;
}

/* Typography */
h2 {
    margin: 5px;
}

h4 {
    margin-bottom: 10px;
}

/* ASIDE MENU BAR */
.aside-bar {
    width: 15%;
    height: 90vh;
    background: #000000;
    color: white;
    padding: 10px;
}

.aside-top-list-menu {
    list-style: none;
    margin-bottom: 20px;
}

.aside-top-list-menu li i {
    font-size: 25px;
    color:  #999999;
}

.aside-top-list-menu li a{
    line-height: 30px;
    text-decoration: none;
    color: #424242;
}

/* PLAYLIST ASIDE LIST */
.playlist-aside-list {
    list-style: none;
}

.playlist-aside-list li a {
    line-height: 35px;
    text-decoration: none;
    color: #424242;
}


.playlist-aside-list i {
    background: #999999;
    color: black;
    font-size: 20px;
    padding: 10px;
}

/* CONTAINER RIGTH E TOP MENU */
.container-right {
    width: 85%;
    max-height: 90vh;
    background: #141921;
}

.top-upgrade-menu {
    max-width: 100%;
    line-height: 60px;
    background: #080b11;
    color: white;
}

/* MENU MAIN TOP */
.menu-main-top {
    line-height: 60px;
    background: #141921;
    color: white;
}

.menu-main-ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.menu-main-ul li a {
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 8px;
    color: #585a60;
}


/* INIZIO CONTENUTO SCROLLABILE */
.content-container {
    height: 624px;
    overflow: auto;
    background: #141921;
}

.content-main {
    margin: 10px;
    color: white;
}

/* BOX */
.box {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 80px;
}

.box-row {
    width: 189px;
    height: 200px;
    margin: 5px;
    margin-top: 15px;
    background: gray;
}

.row {
    text-align: center;
}

.row-1024 {
    display: none;
}

.tablet-box {
    display: none;
}

.under-line-h2 {
    align-items: center;
    font-size: 10px;
    margin: 5px;
}

.box-third-row {
    border-radius: 50%;
}

/* FOOTER BAR */
.footer-bar {
    width: 100%;
    height: 10vh;
    background:#272727;
    color: white;
}

/* MEDIA QUERY FINO A 1024PX */
@media screen and (max-width: 1024px) {
    h2 {
        margin: 13px;
    }

    /* ASIDE MENU BAR */
    .aside-bar {
        width: 20%;
    }

    /* CONTAINER RIGTH E TOP MENU */
    .container-right {
        width: 80%;
    }

    /* INIZIO CONTENUTO SCROLLABILE */
    .content-container {
        height: 800px;
    }

    /* BOX */
    .box {
        margin: 10px;
    }

    .box-row {
        width: 185px;
        height: 185px;
    }
    
    .row {
        margin-bottom: 35px;
    }

    .under-line-h2 {
        margin: 15px;
    }

    .last-two-first-desktop {
        display: none;
    }

    .row-1024 {
        display: flex;
        margin: 10px;
        margin-bottom: 35px;
    }
}

/* MEDIA QUERY FINO A 600PX */
@media screen and (max-width: 600px) {
    h2 {
        margin-left: 55px;
     }

    /* ASIDE MENU BAR */
    .aside-bar {
        width: 10%;
    }

    /* CONTAINER RIGTH E TOP MENU */
    .container-right {
        width: 90%;
    }
    
    .content-main {
        justify-content: center;
        display: block;
    }

    /* BOX */
    .box {
        justify-content: center;
    }

    .under-line-h2 {
        margin-left: 58px;
    }

    .middle-row {
        display: none;
    }

    .tablet-box {
        display: flex;
        justify-content: center;
    }

}