/* GENERAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
font-family: sans-serif;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

.display-flex {
    display: flex;
}

/* Typography */
h2 {
    margin: 10px;
}

/* ASIDE MENU BAR */
.aside-bar {
    flex: 1;
    height: 100vh;
    background: #000000;
    color: white;
}

/* CONTAINER RIGTH E TOP MENU */
.container-right {
    flex: 8;
    max-height: 100vh;
    background: #141921;
}

.top-upgrade-menu {
    max-width: 100%;
    text-align: right;
    line-height: 60px;
    background: #080b11;
    color: white;
}

.menu-main-top {
    text-align: center;
    line-height: 60px;
    background: #141921;
    color: white;
}

/* INIZIO CONTENUTO SCROLLABILE */
.content-container {
    height: 630px;
    overflow: auto;
    margin: 10px;
    background: #141921;
    
}

.content-main {
    color: white;
}

/* BOX */
.box {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 80px;
}

.box-row {
    width: 190px;
    height: 200px;
    margin: 5px;
    background: gray;
}

/* FIRST ROW */
.row {
    text-align: center;
}

